@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap");

/* Global Styles */
:root {
  --primary-color: #126e82;
  --main-color: #51c4d3;
  --dark-color: #132c33;
  --light-color: #e8e8e8;
  --danger-color: red;
  --success-color: green;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #ffff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

i {
  margin: 5px;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Cards */
.card {
  padding: 1rem;
  border: none;
  margin: 0.7rem 0;
  border-radius: 15px;
}

.btn {
  display: block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.list-item {
  padding: 10px;
  font-size: 22px;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 5px;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-main,
.badge-main {
  background-color: var(--main-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

input:focus {
  outline: none;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
/* user icon and lock icon */
.user-icon,
.lock-icon {
  position: relative;
}

.user-icon i,
.lock-icon i {
  position: absolute;
  left: 5px;
  top: 45px;
  color: gray;
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 0.4rem;

  font-size: 1rem;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  /* padding: 0.4rem; */
  padding: 12px 40px;
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"],
button {
  font: inherit;
}

input[type="radio"]:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--main-color);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}

.form-container {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.form-container h1,
h2 {
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

input[type="submit"]:disabled,
input[type="submit"]:disabled:hover,
input[type="submit"]:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.invalid {
  color: #b40e0e;
}
.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}
